<html>
<head>
</head>
<body>
    <h2>Check your future flights here</h2>

<form action="/checkAuth" method="POST" id="form1">
    <input type="text" name = "source" placeholder="source" required/> </br>
	<input type="text" name = "destination" placeholder="destination" required/></br>
	<label for="registerBirthDateInput" class="form-label">departure date</label>
	<input type="date" name = "departure" placeholder="departure" required/></br>
	<label for="registerBirthDateInput" class="form-label">return date</label>
	<input type="date" name = "return_date" placeholder="return_date"/> </br>
	<input type="submit" value = submit  form="form1"/></br>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

	{% if result %}
		<p class="result"><strong>Depature flights:</strong> {{result}}</p>
	{% endif %}

	{% if result2 %}
		<p class="result2"><strong>Return flights:</strong> {{result2}}</p>
	{% endif %}
</form>

<h2>Check your flight status</h2>

<form action="/statusAuth" method="POST"  id="form2">
    <input type="text" name = "airline_name" placeholder="airline_name" required/> </br>
	<input type="text" name = "flight_number" placeholder="flight_number" required/></br>
	<label for="registerBirthDateInput" class="form-label">departure date</label>
	<input type="date" name = "departure" placeholder="departure"/></br>
	<label for="registerBirthDateInput" class="form-label">return date</label>
	<input type="date" name = "return_date" placeholder="return_date"/> </br>
	<input type="submit" value = submit  form="form2"/></br>
	{% if error2 %}
		<p class="error2"><strong>Error:</strong> {{error2}}</p>
	{% endif %}

	{% if status %}
		<p class="status"><strong>Result:</strong> {{status}}</p>
	{% endif %}
</form>


<a href="/">Go back</a>
</body>


</html>

